/.vscode
/Abst.java
/Addelement.java
/Advcalc.java
/Array.java
/Arrpractice.java
/Arrrotaton.java
/Calc.java
/Callbinterf.java
/callbref.java
/Caroverride.java
/Copyarr.java
/Cylinconst.java
/demo.class
/Demo1.java
/encap.java
/Foreach.class
/Foreach.java
/Gcd.java
/HelloWorld.java
/Inher.java
/Inherit.java
/Method.java
/nestedinner.java
/Onedarray.java
/Overmeth.java
/Overmeth2.java
/Palin.class
/Palin.java
/Pattern.class
/Pattern.java
/Practice.class
/Practice.java
/primeno.class
/primeno.java
/Prodconst.java
/Radix.class
/Radix.java
/Reccls.java
/RegexPractice.class
/RegexPractice.java
/Revstr.class
/Revstr.java
/Star.class
/Star.java
/Static1.class
/Static1.java
/Stp.class
/Stp.java
/string.java
/Stringpractice.class
/Stringpractice.java
/Stuarr.java
/Stude.java
/Switch.class
/Switch.java
/Twodarr.java
/Vararg.java
/Words.class
/Words.java